{% trans_default_domain 'profile' %}
<div id="blocked-users" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content px-4 py-3">
            <div class="modal-header align-items-start px-0">
                <h2 class="modal-title letter-spacing-xs my-1">{{ 'wifi.blockedUsers.modal.title'|trans }}</h2>
                <p class="display-2 leter-spacing-xs font-weight-light text-gray-700">{{ 'wifi.blockedUsers.modal.description'|trans }}</p>
            </div>

            <div class="modal-body p-0">
                <div class="table-wrapper overflow-scroll">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{ 'wifi.blockedUsers.modal.table.name.header'|trans }}</th>
                            <th scope="col" class="text-center">{{ 'wifi.blockedUsers.modal.table.country.header'|trans }}</th>
                            <th scope="col" class="text-center">{{ 'wifi.blockedUsers.modal.table.os.header'|trans }}</th>
                            {#<th scope="col" class="text-center">Fecha Bloqueo</th>#}
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if usersblocked|length %}
                            {% for user in usersblocked %}
                            <tr>
                                <th scope="row" class="text-right">
                                    <div style="background-image: url({{ user.imageurl and user.imageurl != 'NULL' ? user.imageurl : asset('img/profile0.png') }})" class="rounded-img">
                                    </div>
                                </th>

                                <td class="font-weight-light">{{ user.name }}</td>
                                <td class="text-center">
                                    <img src="{{ asset('img/icons/countries/'~user.country|country_code~'.svg') }}" alt="country" class="height xxs"></td>
                                <td class="text-center">
                                    <img src="{{ asset('img/icons/'~user.system|lower~'.png') }}" alt="os" class="height xs">
                                </td>
                                {#<td class="text-center font-weight-regular">04/4</td>#}
                                <td>
                                    <a href="{{ url('profile_unblock_user', {'sid':sid,'unblockId':user.blockid}) }}" class="btn btn-outline-primary btn-xs w-100 px-2">{{ 'wifi.blockedUsers.modal.table.unblock.button'|trans }}</a>
                                </td>
                            </tr>
                            {% endfor %}

                        {% else %}
                           <tr>
                            <th></th>
                            <td><span class="small text-danger">{{ 'wifi.blockedUsers.modal.nousers'|trans }}</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>