{% set main_container_section = 'subsection-layout is-profile-section landing' %}
{% trans_default_domain 'profile' %}
{% extends 'layout.html.twig' %}

{% block title %}{{ ('landing.meta.title')|trans }}{% endblock %}

{% block modals %}
    {% include 'profile/_landing-preview_modal_1.html.twig' %}
    {% include 'profile/_landing-preview_modal_2.html.twig' %}
{% endblock %}

{% block content %}
    {% embed '_components/page_header.html.twig' %}
        {% trans_default_domain 'profile' %}
        {% block breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ url('profile_index', {'sid':sid}) }}">{{ 'index.breadcrumb'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url('profile_landing', {'sid':sid}) }}">{{ 'landing.breadcrumb'|trans }}</a></li>
        {% endblock breadcrumbs %}
        {% block title %}{{ 'landing.header.title'|trans }}{% endblock title %}
        {% block description %}{{ 'landing.header.description'|trans }}{% endblock description %}
    {% endembed %}

    <section class="content bg-white">
        {{ form_start(form) }}
        <header class="header">
            <h3>{{ 'landing.form.title'|trans }}</h3>
            <p>{{ 'landing.form.description'|trans }}</p>
            <button type="submit" class="btn btn-primary btn-standard">{{ 'landing.form.submit'|trans }}</button>
        </header>
        <div class="content flex-row">
            <div class="column d-flex align-items-center">
                <div class="image-picker-wrapper">
                    <p class="text-primary mb-2">{{ 'landing.form.picture.label'|trans }}</p>
                    <div class="image-picker js-set-image total-center" style="background-image: url('{{ imageUrl }}')">
                        <label class="circle bg-white total-center shadow_left shadow_bottom pointer">
                            <i class="fas fa-camera fa-2x text-primary"></i>
                            {{ form_widget(form.image, {'attr':{'class':'d-none js-watch-value-file'}}) }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="column mobile">
                <div class="wrapper">

                    <header class="text-left pl-5">
                        <h5>{{ 'landing.previews.new_visits.title'|trans }}</h5>
                        <p>{{ 'landing.previews.new_visits.description'|trans }}</p>
                    </header>
                    <div class="local-name">{{ currentStore.name }}</div>
                    <div class="local-img-layer js-set-image" style="background-image: url('{{ imageUrl }}')"></div>

                    <div class="screen-layer-wrapper">
                        <img src="{{ asset('/img/mobile-landing-2.png') }}" alt="User Screenshot" class="screen-layer-img">
                    </div>
                    <button type="button" class="btn bg-transparent display-3 my-4 text-primary center-with-img title" data-toggle="modal" data-target="#modal-screens-1">{{ 'landing.previews.new_visits.button'|trans }}</button>
                </div>
            </div>
            <div class="column mobile">
                <div class="wrapper">
                    <header class="text-left pl-5">
                        <h5>{{ 'landing.previews.users.title'|trans }}</h5>
                        <p>{{ 'landing.previews.users.description'|trans }}</p>
                    </header>
                    <div class="local-name lower">{{ currentStore.name }}</div>
                    <div class="local-img-layer js-set-image" style="background-image: url('{{ imageUrl }}')"></div>

                    <div class="screen-layer-wrapper">
                        <img src="{{ asset('/img/mobile-landing-1.png') }}" alt="User Screenshot" class="screen-layer-img">
                    </div>
                    <button type="button" class="btn bg-transparent display-3 my-4 text-primary center-with-img title" data-toggle="modal" data-target="#modal-screens-2">{{ 'landing.previews.users.button'|trans }}</button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/update-content.js') }}"></script>
{% endblock javascripts %}