{% set main_container_section = 'subsection-layout is-profile-section reviews' %}
{% set animation_data = 'has_list' %}
{% trans_default_domain 'profile' %}
{% extends 'layout.html.twig' %}

{% block title %}{{ ('reviews.meta.title')|trans }}{% endblock %}

{% block content %}
    {% embed '_components/page_header.html.twig' %}
        {% trans_default_domain 'profile' %}
        {% block breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ url('profile_index', {'sid':sid}) }}">{{ 'index.breadcrumb'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url('profile_landing', {'sid':sid}) }}">{{ 'reviews.breadcrumb'|trans }}</a></li>
        {% endblock breadcrumbs %}
        {% block title %}{{ 'reviews.header.title'|trans }}{% endblock title %}
        {% block description %}{{ 'reviews.header.description'|trans }}{% endblock description %}
        {% block actions %}
            <a href="https://www.netspotofficial.com/" class="btn btn-lg font-weight-medium btn-primary float-right">
                {{ 'reviews.actions.improve'|trans }}
            </a>
        {% endblock actions %}
    {% endembed %}

    <section class="content p-0 bg-white">

        <header class="content-header">
            <h3>{{ 'reviews.reviews.title'|trans }}</h3>
            <p>{{ 'reviews.reviews.description'|trans }}</p>
        </header>

        <nav class="pr-4 mt-1">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active text-almost-black display-4 position-relative" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    <img src="{{ asset('img/icons/google.png') }}" alt="google icon">
                    <span>{{ 'reviews.reviews.google.tab'|trans }}</span>
                </a>
                <a class="muted disabled nav-item nav-link text-almost-black display-4 position-relative" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                    {#<div class="circle_info not-halt">#}
                        {#<div class="inner_text">2</div>#}
                    {#</div>#}
                    <img src="{{ asset('img/icons/tripadvisor.png') }}" alt="google icon">
                    <span class="text-gray-500">
                        {{ 'reviews.reviews.tripAdvisor.tab'|trans }}
                  </span>
                </a>
                <a class="nav-item nav-link text-almost-black display-4 position-relative" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                    <img src="{{ asset('img/icons/netspot_logo_picto.png') }}" alt="netspot icon">
                    {{ 'reviews.reviews.netspot.tab'|trans }}</a>
            </div>
        </nav>

        <div class="tab-content wrapper listAnimationCont {% if not googlereviews.reviews|length %} empty {% endif %} pr-4" id="nav-tabContent">
            <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% if googlereviews.reviews|length %}
                <ul class="reviews-container pt-3">
                    {% for id, review in googlereviews.reviews %}
                        <li class="py-3 listAnimationItem">
                            <header class="review-header">

                                 <div style="background-image: url({{ review.profile_photo_url }})" class="profile rounded-img mr-2">
                                </div>

                                <span class="display-2 text-dark letter-spacing mr-4">{{ review.author_name }}</span>
                                <span class="display-3 gray-700 font-weight-light mr-2">{{ review.rating }}</span>
                                {% for i in 1..5 %}
                                    {% if i <= review.rating %}
                                        <i class="fa fa-star fa-xs text-yellow {{ loop.last ? 'mr-3' : '' }}" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-star fa-xs text-gray-200 {{ loop.last ? 'mr-3' : '' }}" aria-hidden="true"></i>
                                    {% endif %}
                                {% endfor %}
                                {#<img src="{{ asset('img/icons/flag1.png') }}" alt="report" class="icons mr-2">#}
                                {#<img src="{{ asset('img/icons/share.png') }}" alt="share" class="icons mr-2">#}
                                <i></i>
                            </header>
                            <p class="display-3 font-weight-normal py-1 mb-0 line-height-s">
                                {{ review.text }}
                            </p>
                            {#<div class="review-footer mt-2">#}
                                {#<img src="{{ asset('img/icons/like.png') }}" alt="like" class="like mr-2">#}
                                {#<span class="text-gray-300 font-weight-normal align-bottom">Me gusta</span>#}
                            {#</div>#}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <div class="w-100 h-100 p-3">
                <span class="gray-400 display-3 font-weight-normal">{{ 'reviews.noitems'|trans }}</span>
            </div>
            {% endif %}
            </div>

            {# hidden until tripadvisor reviews available - NO ANIMATION DATA #}
            {#<div class="tab-pane wrapper overflow-scroll" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">#}
                {#<ul class="reviews-container">#}
                    {#{% for id, review in reviews.list if review.origin == 'tripadvisor' %}#}
                        {#{{ utils.review(id, review) }}#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</div>#}

            <div class="tab-pane wrapper listAnimationCont overflow-scroll {% if not netspotreviews.list|length %} empty {% endif %}" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                {% if netspotreviews.list|length %}
                <ul class="reviews-container pt-3">
                    {% for id, review in netspotreviews.list %}
                        <li class="py-3 listAnimationItem">
                            <header class="review-header">

                                <div style="background-image: url({{ asset('img/icons/netspot_logo_picto.png') }}); border-radius: 0;" class="profile rounded-img mr-2">
                                </div>
                                <span class="display-2 text-dark letter-spacing mr-4">{{ review.name }}</span>
                                <span class="display-3 gray-700 font-weight-light mr-2">{{ review.stars|round(0, 'floor') }}</span>
                                {% for i in 1..5 %}
                                    {% if i <= review.stars %}
                                        <i class="fa fa-star fa-xs text-yellow {{ loop.last ? 'mr-3' : '' }}" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-star fa-xs text-gray-200 {{ loop.last ? 'mr-3' : '' }}" aria-hidden="true"></i>
                                    {% endif %}
                                {% endfor %}
                                {#<img src="{{ asset('img/icons/flag1.png') }}" alt="report" class="icons mr-2">#}
                                {#<img src="{{ asset('img/icons/share.png') }}" alt="share" class="icons mr-2">#}
                                <i></i>
                            </header>
                            <p class="display-3 font-weight-normal py-1 mb-0 line-height-s">
                                {{ review.rate }}
                            </p>
                            {#<div class="review-footer mt-2">#}
                                {#<img src="{{ asset('img/icons/like.png') }}" alt="like" class="like mr-2">#}
                                {#<span class="text-gray-300 font-weight-normal align-bottom">Me gusta</span>#}
                            {#</div>#}
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class="w-100 h-100 p-3">
                    <span class="gray-400 display-3 font-weight-normal">{{ 'reviews.noitems'|trans }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}