{% trans_default_domain 'common' %}

<div class="secondary_menu js_menu_container">

    {% set notifications = notifications() %}

    <div class="alert_box {% if notifications|length %}bg-red{% endif %} pointer js_submenu_trigger" href="#collapseAlertsMenu" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" id="alertsSecondaryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-bell text-white"></i>
    </div>

    <div class="client_name ellipsis dot_list sx_margin px-3 pointer js_submenu_trigger" href="#collapseClientMenu" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" id="clientSecondaryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ currentStore.name }}</div>


    <ul  id="collapseAlertsMenu" class="secondary_menu_toggled bg-white alerts_menu_version collapse shadow_right js_submenu">
        <li class="menu_item text-primary p-2 font-weight-bold">
            <header>{{ 'user_info.notifications.title'|trans }}</header>
        </li>

    {% if notifications|length %}
        {% for key, notification in notifications %}
            <li class="menu_item flex-column">
                <a href=" " class="p-2" data-toggle="modal" data-target="#demoModal"> 
                    <h7 class="dot_list sx_margin">
                        <span class="title-format">{{ notification.title }}</span>
                    </h7>
                    <p class="text-format m-0">
                        {{ notification.content }}</p>
                </a>
            </li>
        {% endfor %}
    {% else %}
            <li class="menu_item flex-column">
                <span class="p-2 small text-gray-400 bg-white">{{ 'user_info.notifications.empty'|trans }}</span>
            </li>
    {% endif %}
    </ul>

    <ul  id="collapseClientMenu" class="secondary_menu_toggled bg-white client_menu_version collapse shadow_left js_submenu">
        <li class="menu_item text-center bg-primary d-flex justify-content-center align-items-center flex-column text-white py-3 w-100">
            <div alt="Client Logo" class="client-logo mb-1 rounded-img" style="background-image: url({{ currentStore.imageUrl }})"></div>
            <h7 class="store-name ellipsis">{{ currentStore.name }}</h7>
            <span class="store-subtext ellipsis">{{ 'user_info.user.title'|trans }}: {{ app.user.username }}</span>
        </li>
        <li class="menu_item  p-2  sx_marginborder-0">
            <a href="" class="dot_list itemlist-format" data-toggle="modal" data-target="#demoModal">
                {{ 'user_info.user.logout'|trans }}
            </a>
        </li>
    </ul>
</div>