{% trans_default_domain 'home' %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="is-landing-section background">
        <div class="img-background-container animated zoomIn">
            <div class="text-container">
                <img src="{{ asset('img/logo_white.png') }}" alt="logo client" class="mt-6 logo" />

                <div class="dropdown local-selector animated fadeInUp">
                    <button class="btn dropdown-placeholder mt-7 bg-transparent border-0 text-uppercase dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ storeProfile.data.name|upper }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for localSid, local in app.request.attributes.get('clientStoreList') %}
                            <a href="{{ url('home', {'sid': localSid}) }}" class="dropdown-item">{{ local.name }}</a>
                        {% endfor %}
                    </div>
                </div>

                {# there is no address provided, so hide repeated name #}
                {#<span class="text1 text-white mt-2">{{ storeProfile.data.name|upper }}</span>#}

                <span class="text2 text-white js-counter">{{ usersNear is null ? 'N/A' : usersNear|number_format('0', '', '') }}</span>
                <span class="text3 text-white mb-6 animated fadeInDown">{{ 'index.usersNear_raw'|trans|raw }}</span>

                <a href="{{ url('dashboard_index', {'sid':sid}) }}" class="wrapper mt-8">
                    <img src="{{ asset('img/icons/circle_arrow_down_solid.png') }}" alt="next" class="icon-arrow">
                </a>
            </div>
        </div>
    </div>

{% endblock body %}