{% trans_default_domain 'profile' %}
<div id="modal-screens-2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-huge" role="document">
        <div class="modal-content text-center px-1">
            <div class="modal-header text-center align-items-center">
                <h2 class="modal-title header-wrapper letter-spacing-xs text-center">
                    {{ 'previewModal.title'|trans }}
                </h2>
            </div>
            <div class="card-body d-flex justify-content-between align-items-center px-5 py-4">
                <div class="local-name position-3">{{ currentStore.name }}</div>
                <img src="../img/modal-connected-tablet.png" alt="screen tablet" class="screens-layout js-set-image" style="background-image: url('{{ imageUrl }}')">
                <div class="local-name position-4">{{ currentStore.name }}</div>
                <img src="../img/modal-connected-desktop.png" alt="screen desktop" class="screens-layout js-set-image computer" style="background-image: url('{{ imageUrl }}')">
            </div>
        </div>
    </div>
</div>
