{% set main_container_section = 'is-profile-home' %}
{% trans_default_domain 'profile' %}
{% extends 'layout.html.twig' %}

{% block title %}{{ ('index.meta.title')|trans }}{% endblock %}

{% block content %}
    {% embed '_components/page_header.html.twig' %}
        {% trans_default_domain 'profile' %}
        {% block breadcrumbs_outer %}{# hide breadcrumbs on index page #}{% endblock breadcrumbs_outer %}
        {% block title %}{{ 'index.header.title'|trans }}{% endblock title %}
        {% block description %}{{ 'index.header.description'|trans }}{% endblock description %}
    {% endembed %}

    <section class="content">
        <div class="card-deck card_filter">
            <a class="card slim" href="{{ url('profile_landing', {'sid':sid}) }}">
                <div class="card-body">
                    <div class="subsection-icon"></div>
                    <h5 class="card-title">{{ 'index.landing.title'|trans }}</h5>
                    <p class="card-text">{{ 'index.landing.text'|trans }}</p>
                </div>
            </a>
            <a class="card slim" href="{{ url('profile_reviews', {'sid':sid}) }}">
                <div class="card-body">
                    <div class="circle_info">
                        <div class="inner_text">{{ reviewsnews }}</div>
                    </div>
                    <div class="subsection-icon"></div>
                    <h5 class="card-title">{{ 'index.reviews.title'|trans }}</h5>
                    <p class="card-text">{{ 'index.reviews.text'|trans }}</p>
                </div>
            </a>
            <a class="card slim" href="{{ url('profile_wifi', {'sid':sid}) }}">
                <div class="card-body">
                    <div class="subsection-icon"></div>
                    <h5 class="card-title">{{ 'index.wifi.title'|trans }}</h5>
                    <p class="card-text">{{ 'index.wifi.text'|trans }}</p>
                </div>
            </a>
        </div>
    </section>
{% endblock content %}
