{% set main_container_section = 'is-customers-section grid-layout database' %}
{% trans_default_domain 'clients' %}
{% extends 'layout.html.twig' %}

{% block title %}{{ ('data_base.meta.title')|trans }}{% endblock %}

{% block content %}
    {% embed '_components/page_header.html.twig' %}
        {% trans_default_domain 'clients' %}
        {% block breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ url('clients_index', {'sid':sid}) }}">{{ 'index.breadcrumb'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url('clients_db', {'sid':sid}) }}">{{ 'data_base.breadcrumb'|trans }}</a></li>
        {% endblock breadcrumbs %}
        {% block title %}{{ 'data_base.header.title'|trans }}{% endblock title %}
        {% block description %}{{ 'data_base.header.description'|trans }}{% endblock description %}
    {% endembed %}

    <section class="content">
        {{ form_start(form, {'attr':{'class':'form-layout'}}) }}
            <div class="set-position cont-1">
                <h5 class="text-dark mb-3">{{ 'data_base.form.title'|trans }}</h5>
                <div class="wrapper row m-0">
                    {{ form_widget(form.gender, {'attr':{'class':'custom-select custom-select-lg col mr-4'}}) }}
                    {{ form_widget(form.age, {'attr':{'class':'custom-select custom-select-lg col mr-4 custom-centering'}}) }}
                    <div class="col">
                        {{ form_widget(form.cp, {'attr': {'class':'mr-4 form-control', 'placeholder':'data_base.form.fields.cp.placeholder'}}) }}
                        <span class="text-gray smaller">Introduce "00000" para bajártelos todos</span>
                    </div>
                    {{ form_widget(form.target, {'attr':{'class':'custom-select custom-select-lg col mr-4'}}) }}
                    {{ form_widget(form.hobbies, {'attr':{'class':'custom-select custom-select-lg col hobbies'}}) }}
                </div>
            </div>
            <div class="set-position cont-2">
                <button type="submit" class="btn btn-rounded shadow_bottom mb-3">{{ 'data_base.form.submit'|trans }}</button>
            </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
{% endblock content %}