{% trans_default_domain 'my_app' %}

{{ form_start(form) }}
    <div class="modal-body px-0">

        <div class="flex-column d-flex justify-content-center align-items-center">
            <div class="w-100">
                {{ form_widget(form.message, {'attr': {
                    'class': 'form-control mr-0',
                    'rows': '5',
                    'placeholder': 'Escribe aquí'
                }}) }}
            </div>
            <div class="w-100 d-flex justify-content-center py-4">
                {{ form_widget(form.gender, {'attr': {
                    'class': 'custom-select col mr-3 shadow_bottom',
                    'type': 'text'
                }}) }}
                {{ form_widget(form.age, {'attr': {
                    'class': 'custom-select col mr-3 shadow_bottom',
                    'type': 'text'
                }}) }}
                {{ form_widget(form.type, {'attr': {
                    'class': 'custom-select col mr-3 shadow_bottom',
                    'type': 'text'
                }}) }}
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <div class="text-danger">
            {{ form_errors(form) }}
        </div>
        <button type="submit" role="button" class="btn btn-primary btn-standard">{{ (translationKey~'.submit')|trans }}</button>
    </div>
{{ form_rest(form) }}
{{ form_end(form) }}