{% set main_container_section = 'subsection-layout is-analytics-section' %}
{% trans_default_domain 'analytics' %}
{% extends 'layout.html.twig' %}

{% block title %}{{ ('common.meta.title')|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="{{ asset('js/analytics-charts.js') }}"></script>
{% endblock javascripts %}

{% block content %}
    {% embed '_components/page_header.html.twig' %}
        {% trans_default_domain 'analytics' %}
        {% block breadcrumbs_outer %}{# hide breadcrumbs #}{% endblock breadcrumbs_outer %}
        {% block title %}{{ 'common.header.title'|trans }}{% endblock title %}
        {% block description %}{{ 'common.header.description'|trans }}{% endblock description %}
        {% block actions %}
        {% trans_default_domain 'common' %}
            <div class="float-right d-inline">
                <a href="https://www.netspotofficial.com" class="call-to-action btn-with-icon input-group shadow_left">
                    <img src="{{ asset('img/icons/star.svg') }}" alt="highlight section" class="star_highlight">
                    <p class="legend form-control font-weight-medium letter-spacing-xs bg-primary text-white">{{ 'call_to_action.legend4'|trans }}</p>
                    <div class="button input-group-prepend py-2 px-3 bg-white">
                        <span class="font-weight-medium letter-spacing-xs text-primary">{{ 'call_to_action.button'|trans }}</span>
                    </div>
                </a>
            </div>
    {% endblock actions %}
    {% endembed %}

    <section class="content p-0 mb-5">

            <nav class="mt-1">
                {% set current_route = app.request.attributes.get('_route') %}
              <div class="nav nav-tabs" role="tablist">
                <a class="nav-item nav-link display-4 position-relative py-4 {{ current_route == 'analytics_general' ? 'active' : '' }}"
                   href="{{ url('analytics_general', {'sid':sid}) }}">
                <span>{{ 'common.tabs.general'|trans }}</span>
                </a>
                <a class="nav-item nav-link display-4 position-relative py-4 {{ current_route == 'analytics_app' ? 'active' : ' ' }}"
                   href="{{ url('analytics_app', {'sid':sid}) }}">
                    <span>{{ 'common.tabs.app'|trans }}</span>
                </a>
                <a class="nav-item nav-link display-4 position-relative py-4 {{ current_route == 'analytics_usage' ? 'active' : '' }}"
                   href="{{ url('analytics_usage', {'sid':sid}) }}">
                    <span>{{ 'common.tabs.usage'|trans }}</span>
                </a>
                <a class="nav-item nav-link display-4 position-relative py-4 {{ current_route == 'analytics_promotions' ? 'active' : '' }}"
                   href="{{ url('analytics_promotions', {'sid':sid}) }}">
                    <span>{{ 'common.tabs.promotions'|trans }}</span>
                </a>
              </div>
            </nav>

    {% block analytics %}
    {% endblock analytics %}

{% endblock content %}
