{% trans_default_domain 'analytics' %}
{% extends 'analytics/common.html.twig' %}

{% block title %}{{ ('general.meta.title')|trans }}{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

      var has_age_chart         = true;
      var has_gender_chart      = true;
      var has_hour_today_chart  = false;
      var has_hour_week_chart   = false;
      var has_content_chart     = true;

      var gender_chart_labels = ["{{ 'general.gender.male'|trans }}", "{{ 'general.gender.female'|trans }}"];
      var gender_chart_data = [{{ analytics.genero.male }}, {{ analytics.genero.female }}];
      var age_chart_labels = [{{ analytics.ages|keys|join(',')|raw }}];
      var age_chart_data = [{{ analytics.ages|join(',') }}];
      var content_chart_labels = [{% for contentKey,value in analytics.historial %}"{{ contentKey }}",{% endfor %}];
      var content_chart_data = [{{ analytics.historial|join(',') }}];
    </script>

    {{ parent() }}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=visualization"></script>
    <script type="text/javascript">
        var madrid = new google.maps.LatLng(40.36, -3.75);
        var map = new google.maps.Map(document.getElementById('heatmap'), {
            center: madrid,
            zoom: 13,
            mapTypeId: 'roadmap',
            streetViewControl: false,
            mapTypeControl: false,
            fullscreenControl: false
        });

        var heatmap = new google.maps.visualization.HeatmapLayer({data: []});
        heatmap.setMap(map);
        var heatmapData = [];

        // utils
        var bounds  = new google.maps.LatLngBounds();
        var geocoder = new google.maps.Geocoder();

        function addZipLatLng(zip, zipWeight) {
            geocoder.geocode({'address': zip+' Spain'}, function(results, status) {
                if (status === 'OK') {
                    var zipLocation = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                    bounds.extend(zipLocation);
                    heatmapData.push({location: zipLocation, weight: zipWeight});
                    heatmap.setData(heatmapData);
                    map.fitBounds(bounds); // auto-zoom
                    map.panToBounds(bounds); // auto-center
                } else {
                    console.error('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        {% for zip,weight in analytics.usuariosZona %}
        addZipLatLng('{{ zip }}', {{ weight }});
        {% endfor %}
    </script>
{% endblock javascripts %}

{% block analytics %}

  <section>
    <div class="tab-content">

      <div class="tab-pane grid-cont show active" role="tabpanel">

        <div class="container">

          <div class="row">
            <div class="col-8 col-content-wrapper">
              <div class="card align-items-center justify-content-center flex-column">
                <div class="card-header d-flex justify-content-end">
                  <br/>
                  <div class="dropdown js-dropdown-parent">
                    <button class="btn dropdown-toggle js-change-text" type="button" id="dropdownDate" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{ 'common.datedInfo.today'|trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownDate">
                      <a class="dropdown-item" data-href="{{ url('analytics_general_near_your_local', {'sid':sid,'days':1}) }}" data-display-id="#ajax-display-1" href="#">{{ 'common.datedInfo.today'|trans }}</a>
                      <a class="dropdown-item" data-href="{{ url('analytics_general_near_your_local', {'sid':sid,'days':3}) }}" data-display-id="#ajax-display-1" href="#">{{ 'common.datedInfo.last3days'|trans }}</a>
                      <a class="dropdown-item" data-href="{{ url('analytics_general_near_your_local', {'sid':sid,'days':7}) }}" data-display-id="#ajax-display-1" href="#">{{ 'common.datedInfo.last7days'|trans }}</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <span id="ajax-display-1" class="lead-1 d-block text-center js-counter">{{ analytics.personasDelante|number_format('0', '', '') }}</span>
                  <span class="sub-2 d-block">{{ 'general.nearyourlocal.leyend'|trans }}</span>
                </div>
              </div>
            </div>
            <div class="col-4 col-content-wrapper">
              <div class="card">
                <div class="card-header">
                  <h4 class="title">{{ 'general.gender.title'|trans }}</h4>
                  <span class="subtitle">{{ 'general.gender.subtitle'|trans }}</span>
                </div>
                <div class="card-body">
                  <canvas id="gender-chart"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-content-wrapper">
              <div class="card card-with-header">
                <div class="card-header">
                  <h4 class="title">{{ 'general.users.title'|trans }}</h4>
                  <span class="subtitle">{{ 'general.users.subtitle'|trans }}</span>
                </div>
                <div class="card-body" style="width: 100%;">
                  <div id="heatmap" style="height: 300px; width: 100%; position:relative; float: left;"></div>
                </div>
              </div>
            </div>
            <div class="col-6 col-content-wrapper">
              <div class="card card-with-header">
                <div class="card-header">
                  <h4 class="title">{{ 'general.age.title'|trans }}</h4>
                  <span class="subtitle">{{ 'general.age.subtitle'|trans }}</span>
                </div>
                <div class="card-body">
                  <canvas id="age-chart" class="bar-layout py-4">

                  </canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-10 justify-content-center col-content-wrapper">
              <div class="call-to-action-custom w-100">
                <div class="wrapper w-100">
                  <img src="{{ asset('img/icons/unknown_profile.png') }}" alt="customer icon" class="mr-4 height lg">
                  <p class="m-0 text-gray-800 letter-spacing-md">{{ 'general.calltoaction.question'|trans }}</p>
                </div>
                <a href="https://www.netspotofficial.com/" class="btn btn-primary btn-lg">{{ 'general.calltoaction.link'|trans }}</a>
              </div>

            </div>
          </div>

          <div class="row">

            <div class="col-6 col-content-wrapper">
              <div class="card">
                <div class="container card-body flex-column align-items-center w-100 px-4">
                  <ul class="row">
                    <li class="col-2 p-0"></li>
                    <li class="col-8 px-0 text-center flex-column">
                      <span class="lead-1 d-block letter-spacing-xs js-counter">{{ analytics.clientesTotales|integer }}</span>
                      <span class="sub-1 d-block text-uppercase">{{ 'general.clients.total'|trans }}</span>
                    </li>
                    <li class="col-2 align-self-center p-0">
                      {#<i class="fas fa-caret-up text-green"></i>#}
                      {#<span class="data-number text-green">425</span>#}
                    </li>
                  </ul>
                  <ul class="row">
                    <li class="col-6 text-center border-right border-top">
                      {#<ul class="text-center p-0 letter-spacing-md pt-4 pb-3">#}
                        {#<li class="d-inline">#}
                          {#<span class="data-number mr-1 text-primary">1340</span>#}
                        {#</li>#}
                        {#<li class="d-inline">#}
                          {#<i class="fas fa-caret-up text-green ml-1"></i>#}
                          {#<span class="data-number text-green">125</span>#}
                        {#</li>#}
                      {#</ul>#}
                      {#<span class="lead-3 d-block">26%</span>#}
                      <span class="lead-3 d-block js-counter">{{ (analytics.recurrentes*100/analytics.clientesTotales)|default(0)|round(0)|number_format('0', '', '') }}%</span>
                      <span class="display-3 text-uppercase d-block text-gray-500 font-weight-normal letter-spacing-xs mb-1">{{ 'general.clients.recurring'|trans }}</span>
                    </li>

                    <li class="col-6 text-center border-top">
                      {#<ul class="text-center p-0 letter-spacing-md pt-4 pb-3">#}
                        {#<li class="d-inline">#}
                          {#<span class="data-number mr-1 text-primary">3360</span>#}
                        {#</li>#}
                        {#<li class="d-inline">#}
                          {#<i class="fas fa-caret-down text-red ml-1"></i>#}
                          {#<span class="data-number text-red">65</span>#}
                        {#</li>#}
                      {#</ul>#}
                      {#<span class="lead-3 d-block">74%</span>#}
                      <span class="lead-3 d-block js-counter">{{ (analytics.nuevos*100/analytics.clientesTotales)|default(0)|round(0)|number_format('0', '', '') }}%</span>
                      <span class="sub-3 d-block mb-1">{{ 'general.clients.new'|trans }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-3 col-content-wrapper">
              <div class="card card-with-header px-0 pb-0">
                <div class="card-header px-4">
                  <h4 class="title">{{ 'general.reviews.title'|trans }}</h4>
                  <span class="subtitle">{{ 'general.reviews.subtitle'|trans }}</span>
                </div>
                <div class="card-body w-100 px-4">
                  <ul class="p-0 display-4 font-weight-normal">
                    <li class="justify-content-between d-flex pt-3">
                              <span class="text-gray-700">
                                <img src="{{ asset('img/icons/google.png') }}" alt="google icon"
                                     class="mr-2 height xxs align-bottom">
                                <span>{{ 'general.reviews.google'|trans }}</span>
                              </span>
                      <span><i class="fa fa-star fa-xs text-yellow align-baseline mr-2"
                               aria-hidden="true"></i>{{ analytics.reviews.google|number_format(1, '.') }}</span>
                    </li>
                    <li class="justify-content-between d-flex py-5">
                              <span class="text-gray-700">
                                <img src="{{ asset('img/icons/tripadvisor.png') }}" alt="google icon"
                                     class="mr-1 height extra-xxs align-bottom">
                                <span class="disabled">{{ 'general.reviews.tripAdvisor'|trans }}</span>
                              </span>
                      {#<span><i class="fa fa-star fa-xs text-yellow align-baseline mr-2"#}
                               {#aria-hidden="true"></i>3.5</span>#}
                    </li>
                    <li class="justify-content-between d-flex pb-3">
                              <span class="text-gray-700">
                                <img src="{{ asset('img/icons/netspot_logo_picto.png') }}" alt="google icon"
                                     class="mr-2 height xxs align-bottom">
                                <span>{{ 'general.reviews.netspot'|trans }}</span>
                              </span>
                      <span><i class="fa fa-star fa-xs text-yellow align-baseline mr-2"
                               aria-hidden="true"></i>{{ analytics.reviews.netspot|number_format(1, '.') }}</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer bg-primary justify-content-around d-flex w-100 py-4 text-white font-weight-normal h2 mb-0">
                  <span>{{ 'general.reviews.total'|trans }}</span>
                  <span><i class="fa fa-star fa-xs text-yellow align-baseline mr-2" aria-hidden="true"></i>
                    {{ ((analytics.reviews.google+analytics.reviews.netspot)/2)|number_format(1, '.') }}
                  </span>
                </div>
              </div>
            </div>

            <div class="col-3 col-content-wrapper">
              <div class="card card-with-header">
                <div class="card-header">
                  <h4 class="title">{{ 'general.adblock.title'|trans }}</h4>
                  <span class="subtitle">{{ 'general.adblock.subtitle'|trans }}</span>
                </div>
                <div class="card-body d-flex align-items-center justify-content-center">
                  <div class="d-flex align-items-center justify-content-center flex-column">
                    <span class="lead-2 text-red-100 js-counter">{{ analytics.adblock|number_format('0', '', '') }}</span>
                    <span class="sub-3">{{ 'general.adblock.counter'|trans }}</span>
                  </div>
                </div>
                <div class="card-footer bg-transparent">
                    {% if securityConfig.adblock == 'enabled' %}
                      <a href="{{ url('security_index', {'sid':sid}) }}" class="btn btn-primary btn-standard px-4 py-1 display-4 font-weight-normal" role="button" aria-pressed="true">{{ 'general.adblock.disable'|trans }}</a>
                    {% else %}
                      <a href="{{ url('security_index', {'sid':sid}) }}" class="btn btn-primary btn-standard px-4 py-1 display-4 font-weight-normal" role="button" aria-pressed="true">{{ 'general.adblock.enable'|trans }}</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div> <!-- row4 -->

          <div class="row">
            <div class="col-6 col-content-wrapper">
              <div class="card card-with-header">
                <div class="card-header">
                  <h4 class="title">{{ 'general.devices.title'|trans }}</h4>
                  <span class="subtitle">{{ 'general.devices.subtitle'|trans }}</span>
                </div>
                <div class="card-body container">
                  <ul class="row px-3 py-5">
                    <li class="col-4 d-inline">
                      <img src="{{ asset('img/icons/Desktop@3x') }}.png" alt="desktop icon" class="mx-auto d-block height extra-lg">
                      <span class="lead-5 text-center  pt-3 d-block"> <span class="js-counter">{{ (analytics.dispositivos.pc*100/analytics.dispositivos.total)|default(0)|round(0)|number_format('0', '', '') }} </span>%</span>
                    </li>
                    <li class="col-4 d-inline">
                      <img src="{{ asset('img/icons/Ipad@3x') }}.png" alt="tablet icon" class="mx-auto d-block height extra-lg">
                      <span class="lead-5 text-center  pt-3 d-block">
                        <span class="js-counter">{{ (analytics.dispositivos.android*100/analytics.dispositivos.total)|default(0)|round(0) }}</span>%
                      </span>
                    </li>
                    <li class="col-4 d-inline">
                      <img src="{{ asset('img/icons/Movil@3x') }}.png" alt="mobile icon" class="mx-auto d-block height extra-lg">
                      <span class="lead-5 text-center pt-3  d-block"> <span class="js-counter">{{ (analytics.dispositivos.iOS*100/analytics.dispositivos.total)|default(0)|round(0)|number_format('0', '', '') }} </span>%</span>
                    </li>
                  </ul>
                  <div class="w-100 d-flex justify-content-center">
                    <a href="{{ url('dashboard_index', {'sid':sid}) }}" role="button"
                       class="btn shadow_bottom border-0 text-primary btn-standard px-4 mb-3 display-3">{{ 'general.devices.view'|trans }}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-content-wrapper">
              <div class="card card-with-header">
                <div class="card-header">
                  <h4 class="title">{{ 'general.content.title'|trans }}</h4>
                  <span class="subtitle">{{ 'general.content.subtitle'|trans }}</span>
                </div>
                <div class="card-body">
                  <canvas id="content-chart" class="py-4 pie-layout">
                  </canvas>
                </div>
              </div>
            </div>
          </div>

        </div><!-- container -->
      </div>
    </div>
  </section>

{% endblock analytics %}